.error-boundary {
    padding: 30px 40px;
    border: 1px solid #d84242;
    border-radius: 4px;
    box-shadow: 0 0 5px #d1abab;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}