.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 15px;
}
@media (min-width: 1200px) {
  .calc {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.calc-header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #D6EFFB;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .calc-header {
    font-size: 30px;
    line-height: 35px;
  }
}
.calc-preview-item {
  float: left;
  padding: 0 10px;
  margin-bottom: 20px;
}
.calc .custom-radio {
  padding-left: 0;
}
.calc-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 18px;
  -webkit-box-shadow: -1px 0 0 0 #d6effb inset, 0 -1px 0 0 #d6effb inset, -1px -1px 0 0 #d6effb, -1px 0 0 0 #d6effb, 0 -1px 0 0 #d6effb;
  box-shadow: -1px 0 0 0 #d6effb inset, 0 -1px 0 0 #d6effb inset, -1px -1px 0 0 #d6effb, -1px 0 0 0 #d6effb, 0 -1px 0 0 #d6effb;
}
@media (min-width: 768px) {
  .calc-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media (min-width: 1024px) {
  .calc-item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .calc--vent .calc-item {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
}
@media (min-width: 1200px) {
  .calc-item {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
}
.calc-item__title {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #D6EFFB;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.calc-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .calc-item__content {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .calc-item__content--xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.calc-item__num {
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffe600;
}
.calc-item .fancy-gallery {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.calc-item .fancy-gallery > img {
  border: 1px solid #C3E6FC;
  border-radius: 3px;
}
.calc-input-text {
  display: inline-block;
  max-width: 72px;
  text-align: center;
}
.calc-input-text:disabled {
  background-color: #F4FBFE;
}
.calc-label--size {
  font-size: 15px;
  line-height: 18px;
  display: inline-block;
  width: 90px;
  margin-bottom: 0;
  color: #6c8a9b;
}
.calc-label--value {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
}
.calc-label--measure {
  font-weight: bold;
}
.calc-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #D6EFFB;
  box-shadow: 0 0 0 1px #D6EFFB;
  -webkit-transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  margin-top: 20px;
  cursor: pointer;
}
.active > .calc-card {
  color: #3598DB;
  -webkit-box-shadow: 0 0 0 2px #61BDFC;
  box-shadow: 0 0 0 2px #61BDFC;
}
.active > .calc-card:hover,
.active > .calc-card:focus {
  -webkit-box-shadow: 0 0 0 2px #61BDFC, 3px 6px 15px rgba(50, 65, 74, 0.3);
  box-shadow: 0 0 0 2px #61BDFC, 3px 6px 15px rgba(50, 65, 74, 0.3);
}
.calc-card:hover,
.calc-card:focus {
  -webkit-box-shadow: 0 0 0 1px #D6EFFB, 3px 6px 15px rgba(50, 65, 74, 0.3);
  box-shadow: 0 0 0 1px #D6EFFB, 3px 6px 15px rgba(50, 65, 74, 0.3);
  color: #3598DB;
}
.calc-card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #FFE600;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-bottom: 6px;
}
.calc-card__title {
  font-size: 20px;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
.calc-card__title--trans {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.calc-card--sec {
  padding: 20px 20px 10px 20px;
  width: 100%;
}
.calc-row {
  margin-bottom: 55px;
  list-style: none;
  padding-left: 0;
}
.calc-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.calc-nav__item {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .calc-nav__item {
    width: 100%;
  }
}
.calc-section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 1024px) {
  .calc-section__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.calc-section__title .form-control {
  width: 70px;
  height: 42px;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
  text-align: center;
}
.calc-section__title .calc-label--size {
  font-size: 16px;
  margin-left: 5px;
}
.calc-section__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
  line-height: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FFE600;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.calc-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  -webkit-box-shadow: 0 -1px 0 0 #D6EFFB;
  box-shadow: 0 -1px 0 0 #D6EFFB;
}
.calc-table__row:last-child {
  -webkit-box-shadow: 0 1px 0 0 #D6EFFB, 0 -1px 0 0 #D6EFFB;
  box-shadow: 0 1px 0 0 #D6EFFB, 0 -1px 0 0 #D6EFFB;
}
.calc-table__row--header {
  background-color: #D6EFFB;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.calc-table__row--header:hover,
.calc-table__row--header:focus {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.calc-table__row--header:hover + .calc-table__row:not(:last-child),
.calc-table__row--header:focus + .calc-table__row:not(:last-child) {
  -webkit-box-shadow: 0 -1px 0 0 inset #D6EFFB;
  box-shadow: 0 -1px 0 0 inset #D6EFFB;
}
.calc-table__row--header .calc-table__col {
  padding-top: 17px;
  padding-bottom: 17px;
}
.calc-table__row.active {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 2px inset #61BDFC;
  box-shadow: 0 0 0 2px inset #61BDFC;
}
.calc-table__row.active:hover,
.calc-table__row.active:focus {
  -webkit-box-shadow: 3px 6px 15px rgba(50, 65, 74, 0.3), 0 0 0 2px inset #61BDFC;
  box-shadow: 3px 6px 15px rgba(50, 65, 74, 0.3), 0 0 0 2px inset #61BDFC;
}
.calc-table__row:hover,
.calc-table__row:focus {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 3px 6px 15px rgba(50, 65, 74, 0.3);
  box-shadow: 3px 6px 15px rgba(50, 65, 74, 0.3);
}
.calc-table__row:hover + .calc-table__row:not(:last-child),
.calc-table__row:focus + .calc-table__row:not(:last-child) {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.calc-table__row:hover + .calc-table__row:last-child,
.calc-table__row:focus + .calc-table__row:last-child {
  -webkit-box-shadow: 0 -1px 0 0 inset #D6EFFB;
  box-shadow: 0 -1px 0 0 inset #D6EFFB;
}
.calc-table__row:hover .calc-table__col--total .btn,
.calc-table__row:focus .calc-table__col--total .btn {
  display: inline-block;
}
.calc-table__col {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 10px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .calc-table__col {
    padding: 15px 8px;
  }
}
@media (min-width: 1200px) {
  .calc-table__col {
    padding: 20px 10px;
  }
}
.calc-table__col--img {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .calc-table__col--img {
    width: 22%;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .calc-table__col--img {
    padding-left: 30px;
  }
}
.calc-table__col--img .img-wrap {
  width: 100%;
}
.calc-table__col--name {
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .calc-table__col--name {
    width: 25%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.calc-table__col--name .collapse-toggler__text {
  font-size: 14px;
}
.calc-table__col--def {
  width: 50%;
  padding: 3px 10px;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .calc-table__col--def {
    width: 8%;
    padding: 15px 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.calc-table__col--depth {
  width: 100%;
  white-space: nowrap;
  padding: 3px 10px;
}
@media (min-width: 1024px) {
  .calc-table__col--depth {
    width: 10%;
    padding: 15px 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.calc-table__col--total {
  width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (min-width: 1024px) {
  .calc-table__col--total {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 19%;
    padding-right: 15px;
  }
}
@media (min-width: 1200px) {
  .calc-table__col--total {
    padding-right: 30px;
  }
}
.calc-table__col--total .btn {
  width: 120px;
  margin-right: 10px;
}
@media (min-width: 1024px) {
  .calc-table__col--total .btn {
    display: none;
    margin-top: 5px;
  }
}
.calc-table__col--desc {
  width: 100%;
  padding: 0 10px;
}
@media (min-width: 1024px) {
  .calc-table__col--desc {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .calc-table__col--desc {
    padding: 0 30px;
  }
}
.calc-table__col--desc .collapse {
  width: 100%;
}
.calc-table__col--desc ol,
.calc-table__col--desc ul {
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 15px;
}
.calc-table__col-head {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;
  font-weight: bold;
}
.calc-table__col-content {
  width: 100%;
  color: #6C8A9B;
  line-height: 19px;
  margin-bottom: 15px;
}
.calc-table__col-title {
  display: block;
  width: 90px;
  margin-right: 10px;
  color: #6C8A9B;
}
@media (min-width: 1024px) {
  .calc-table__col-title {
    display: none;
  }
}
.calc-table__num {
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
}
.calc-table__ico {
  font-size: 16px;
  line-height: 19px;
  color: #6C8A9B;
}

/*# sourceMappingURL=maps/main-calc.css.map */
