.wholesaler-index-index .page-main {
  padding-top: 0;
}
.opt-head {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
  background-image: url(../images/landings/optoviki/handshake-big.jpg);
  background-repeat: no-repeat;
  background-position: 40% center;
  background-size: cover;
  min-height: 650px;
}
@media (min-width: 768px) {
  .opt-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 612px;
  }
}
.opt-head .img-responsive {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation: scale-105 20s infinite;
  animation: scale-105 20s infinite;
}
.opt-head:hover .img-responsive {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.opt-head__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  .opt-head__caption {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0;
  }
}
.opt-head__caption > div {
  padding: 0;
}
.opt-head__caption h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .opt-head__caption h1 {
    font-size: 27px;
  }
}
@media (min-width: 635px) {
  .opt-head__caption h1 {
    font-size: 34px;
  }
}
@media (min-width: 1024px) {
  .opt-head__caption h1 {
    font-size: 42px;
    text-align: left;
    margin-bottom: 10px;
  }
}
.opt-list {
  width: 238px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .opt-list {
    width: auto;
    font-size: 24px;
    line-height: 39px;
  }
}
.opt-list .isoi {
  display: inline-block;
  padding-right: 8px;
  font-size: 12px;
  color: #2DCC70;
}
@media (min-width: 1024px) {
  .opt-list .isoi {
    font-size: 17px;
  }
}
.opt-form {
  padding: 20px;
  background-color: #fff;
  border: 4px solid #FFE600;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1024px) {
  .opt-form {
    padding: 35px;
  }
}
.opt-form__header {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .opt-form__header {
    font-size: 24px;
    line-height: 1.1666;
    text-align: left;
  }
}
.opt-form__notice {
  text-align: center;
}
@media (min-width: 1024px) {
  .opt-form__notice {
    text-align: left;
    margin-bottom: 20px;
  }
}
.opt-form .btn-success {
  width: 100%;
  font-weight: bold;
}
.opt-form .form-control {
  height: 46px;
  padding: 8px 30px 8px 42px;
  background-color: #F4FBFE;
}
.opt-form .form-control:focus {
  background-color: transparent;
}
.opt-form .form-group {
  position: relative;
}
.opt-form .form-group .isoi {
  position: absolute;
  left: 15px;
  top: 11px;
  color: #61BDFC;
}
.opt-form .form-group.has-success .form-control {
  background-color: transparent;
}
.opt-form .captcha-wrap {
  margin-bottom: 15px!important;
}
.opt-nav {
  margin-bottom: 20px;
}
.opt-nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .opt-nav__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.opt-nav h2 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.opt-nav-col {
  width: 100%;
}
@media (min-width: 1024px) {
  .opt-nav-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.opt-nav__item {
  font-size: 18px;
  line-height: 1.2;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  text-align: center;
  color: #6c8a9b;
  border: 1px solid #d6effb;
  background: #fff;
}
.opt-nav__item:hover,
.opt-nav__item:focus,
.opt-nav__item:hover:focus {
  text-decoration: none;
  color: #6c8a9b;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}
.opt-nav__item:hover .img-responsive,
.opt-nav__item:focus .img-responsive,
.opt-nav__item:hover:focus .img-responsive {
  -webkit-filter: saturate(110%) brightness(103%);
  filter: saturate(110%) brightness(103%);
}
.opt-nav__item .img-responsive {
  margin: 0 auto 20px auto;
}
.opt-content {
  margin-bottom: 35px;
}
.opt-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .opt-content__row {
    margin-bottom: 20px;
  }
}
.opt-content-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.opt-content-col--img {
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}
@media (min-width: 768px) {
  .opt-content-col--img {
    display: block;
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .opt-content-col--img {
    width: 40%;
  }
}
.opt-content-col--img > img {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  will-change: transform;
}
.opt-content-col--img:hover > img,
.opt-content-col--img:focus > img {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
.opt-content-col--content {
  padding: 30px;
  background-color: #fff;
  width: 100%;
}
@media (min-width: 768px) {
  .opt-content-col--content {
    width: 75%;
  }
}
@media (min-width: 1024px) {
  .opt-content-col--content {
    width: 60%;
  }
}
.opt-content-col--content .list-style-check {
  max-width: 100%;
  color: #6c8a9b;
}
.opt-content-col--content .list-style-check li {
  line-height: 1.2;
  margin-bottom: 10px;
  padding-left: 8px;
}
.opt-content-col--content h2 {
  font-size: 30px;
  font-weight: 300;
  max-width: 100%;
  margin-top: 0;
  text-transform: uppercase;
}
.opt-content .btn {
  margin-top: auto;
  text-transform: uppercase;
}
.opt-slider {
  margin-bottom: 50px;
}
.opt-slider h2 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.opt-slider__item {
  position: relative;
  min-height: 196px;
  margin: 0 2px;
  padding: 30px 20px;
  border: 1px solid #d6effb;
  background-color: #fff;
}
.opt-slider__item:hover,
.opt-slider__item:focus,
.opt-slider__item:hover:focus {
  z-index: 1;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}
.opt-slider__item .img-responsive {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.opt-offer {
  text-align: center;
  text-transform: uppercase;
}
.opt-offer__title {
  font-size: 2.125rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.opt-offer .btn {
  width: 250px;
  text-transform: uppercase;
}

/*# sourceMappingURL=maps/main-opt.css.map */
