.sidebar {
  margin-bottom: 20px;
}
.sidebar-inner {
  padding: 30px;
}
@media (max-width: 1024px) {
  .sidebar-inner--collapse {
    padding-top: 0;
  }
}
.sidebar-block {
  line-height: 1.2;
  color: #1c2227;
}
@media (min-width: 1024px) {
  .sidebar-block {
    display: block;
    height: auto!important;
  }
}
.sidebar-block--yel {
  background: #ffe600;
}
.sidebar-block--yel .sidebar-title {
  font-weight: bold;
  padding-top: 0;
}
.sidebar-block--yel .sidebar-title {
  margin-bottom: 10px;
}
.sidebar-block--blue {
  background-color: #d6effb;
}
.sidebar-block--light-blue {
  border: 1px solid #d6effb;
  border-top: none;
  background: #eaf8ff;
}
.sidebar-phone {
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .sidebar-phone {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .sidebar-phone {
    font-size: 35px;
  }
}
.sidebar-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 14px;
}
.sidebar-panel {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 30px;
  cursor: pointer;
}
.sidebar-panel--blue {
  background-color: #d6effb;
}
.sidebar-panel--light-blue {
  -webkit-transition: border-bottom-color 0.4s;
  -o-transition: border-bottom-color 0.4s;
  transition: border-bottom-color 0.4s;
  border-right: 1px solid #d6effb;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #d6effb;
  background: #eaf8ff;
}
.sidebar-panel--light-blue.collapsed {
  border-bottom-color: #d6effb;
}
.sidebar-panel::after {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 14px;
  right: 14px;
  content: '\f106';
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  text-transform: none;
  color: #61bdfc;
  font-family: isolux-icon-font !important;
  will-change: transform;
}
.sidebar-panel.collapsed::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.sidebar-link {
  text-decoration: underline;
  color: #1c2227;
  outline: none;
}
.sidebar-link:hover,
.sidebar-link:focus,
.sidebar-link:hover:focus {
  text-decoration: none;
  color: #1c2227;
  outline: none;
}
.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  border: 1px solid #d6effb;
  background-color: #fff;
}
.contact-card:hover {
  z-index: 2;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}
.contact-card-item {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 35px;
}
.contact-card-item > .isoi {
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  color: #61bdfc;
}
.contact-card__title {
  display: block;
  color: #6c8a9b;
}
.contact-card__detailed {
  font-size: 14px;
}
.contact-card__detailed:hover,
.contact-card__detailed:focus,
.contact-card__detailed:hover:focus {
  cursor: pointer;
  text-decoration: none;
}
.contact-card__address {
  display: block;
}
.contact-modal-map {
  position: relative;
  height: 250px;
}
@media (min-width: 768px) {
  .contact-modal-map {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .contact-modal-map {
    height: 700px;
  }
}
.contact-modal-map > ymaps {
  position: absolute;
}
@media (min-width: 1200px) {
  .contact-modal-content {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 700px;
  }
}
.contact-modal-content .visible-modal {
  font-size: 14px;
  line-height: 1.1;
}
.contact-modal-content .visible-modal ul {
  margin-bottom: 30px;
  padding-left: 17px;
}
.contact-modal-content .visible-modal ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}
.contact-col-left {
  display: none;
  float: left;
  width: 33.33333333%;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 560px) {
  .contact-col-left {
    display: block;
  }
}
.contact-col-right {
  float: left;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 560px) {
  .contact-col-right {
    width: 66.66666667%;
  }
}

/*# sourceMappingURL=maps/main-contact.css.map */
